html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

fieldset {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 1ex;
	padding: 1em;
	margin-top: 2em;
	margin-bottom: 1em;
	position:relative;
	background-color:White;
}
legend {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2em;
	padding: 0.5ex 1em 0.3ex 1em;
	width: 100%;
	background-color: rgba(0,0,0,0.02);
	color: #666;
	font-family: sans-serif;
}
input,select {
	height:2em;
	margin-bottom:2px;
	/*padding: 1em !important;*/
}
input,select,textarea {
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	padding: 0.5ex 1ex;
}
input[type=date],label[type=date],input[type=text].date {
	width: 8em;
}
input[type=text].rank,label.rank,select.rank {
	width: 13em;
}
input[type=number] { 
	width:5em;
}
input[required], select[required] {
	background-image: radial-gradient(#F00 15%, transparent 18%), radial-gradient(#F00 15%, transparent 18%);
	background-size: 2em 2em;
	background-position: -1ex 0;
	background-repeat: no-repeat;
	border:1px solid #999 !important;
	padding-left:1em !important;
}
input[type=radio][required] { padding-left:0 !important; background-image:none; border-color:Red;}
input#extension{ width:4em; }
input#service_number { width:8em; }
form label[for="title"] {width: 3.8em; }
input.title { width: 12.45em; }

/*form#profile { display:none; }*/
form#profile input, form#profile label, form#profile select {
	width:31%;
	display:inline-block;
	text-align:left;
}

form label { 
	display: inline-block;
	text-align:right;
	width: 9em;
}

input.address, input[type="email"] {
	width:25em;
}
input[type="tel"] {
	width:10em;
}
input[type="date"] {
	width:10em;
}
dt { font-weight: bold; }
dd { font-family: monospace; color:#666; }